<!doctype html>
<html>
  <head>
  </head>

  <body>
    <form method='post' action='/signup'>
      <input type='text' name='firstname' placeholder='First Name'>
      <input type='text' name='lastname' placeholder='Last Name'>
      <input type='text' name='username' placeholder='Username'>
      <input type='password' name='password' placeholder='Password'>
      <input type='submit' value='Create Account'>
    </form>
  </body>
</html>
